.specialty {
  display: flex;
  justify-content: center;
}

.specialty__item::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.specialty__item:nth-child(1)::before {
  background-image: url(../svg/Icon/Groupantena.svg);
}

.specialty__item:nth-child(2)::before {
  background-image: url(../svg/Icon/clock.svg);
}

.diagrama::before {
  background-image: url(../svg/Icon/diagram.svg);
}

.astronavt::before {
  background-image: url(../svg/Icon/astronaut.svg);
}

.specialty__item {
  padding: 0;
  min-width: 270px;
}

.specialty .specialty__item + .specialty__item {
  margin-left: 30px;
}
.specialty__desc {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
  line-height: 1.71;
}
