/*Section team__social-icons */
.socials {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  &:nth-child(n + 2) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.socials__link {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: rgba(175, 177, 184, 1);
  border-radius: 50%;
  transition: color 250ms $timing-fuction,
    background-color 250ms $timing-fuction;
  &:hover,
  &:focus {
    background-color: $booton-color;
    color: #ffffff;
  }
}

.socials__icon {
  align-items: center;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* footer socials */
.footer__socials-form {
  display: flex;
}

.footer__socials {
  margin-left: 70px;
  display: flex;
  width: 206px;
  flex-direction: column;
}

.socials--footer {
  justify-content: space-between;
}

.socials__icon--white {
  fill: #ffffff;
}

.socials__link-foot {
  background-color: rgba(255, 255, 255, 0.1);
}
